rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Enable simple read/write access to all collections to sync across all logged-in client devices
    match /accounts/{accountId} {
      allow read, write: if true;
    }
    match /students/{studentId} {
      allow read, write: if true;
    }
    match /classes/{classId} {
      allow read, write: if true;
    }
    match /records/{recordId} {
      allow read, write: if true;
    }
    match /config/{configId} {
      allow read, write: if true;
    }
  }
}
